- var timestamp = String(new Date().getTime());
- var compileTime = new Date().toLocaleString();
doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
    meta(name="format-detection" content="telephone=no")
    title 永續海鮮選購手冊：一本教您如何選擇臺灣永續海鮮的指南
    meta(name="description" content="綠色和平於2021年推出臺灣四季永續海鮮手冊，期望從臺灣人熟悉的海鮮文化說起。哪些漁撈方式較為永續？哪些魚種面臨危機卻仍能在市面購買？這系列海鮮採購指南，帶您逐步邁向海洋永續發展長期目標。在對的時間，選對的海鮮！讓臺灣海洋資源永續，就從日常生活做起！")
    meta(property="og:title" content="永續海鮮選購手冊：一本教您如何選擇臺灣永續海鮮的指南")
    meta(property="og:type" content="website")
    meta(property="og:url" content="https://cloud.greentw.greenpeace.org/cwf-seafood-handbook")
    meta(property="og:image" content="https://change.greenpeace.org.tw/migrate/site/seafood/images/preview.jpg")
    meta(property="og:image:width" content="1200")
    meta(property="og:image:height" content="630")
    meta(property="og:description" content="綠色和平於2021年推出臺灣四季永續海鮮手冊，期望從臺灣人熟悉的海鮮文化說起。哪些漁撈方式較為永續？哪些魚種面臨危機卻仍能在市面購買？這系列海鮮採購指南，帶您逐步邁向海洋永續發展長期目標。在對的時間，選對的海鮮！讓臺灣海洋資源永續，就從日常生活做起！")
    link(rel="icon" href="https://change.greenpeace.org.tw/migrate/site/seafood/favicon.ico" type="image/x-icon")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&amp;display=swap" rel="stylesheet")
    link(rel="stylesheet" href="https://change.greenpeace.org.tw/migrate/site/seafood/js/swiper-bundle.min.css")
    link(rel="stylesheet" href="https://change.greenpeace.org.tw/migrate/site/seafood/js/perfect-scrollbar.css")
    link(rel="stylesheet" href="https://change.greenpeace.org.tw/migrate/site/seafood/js/aos.css")
    // <link rel="stylesheet" href="./css/style.css" />
    link(rel="stylesheet" href="https://change.greenpeace.org.tw/migrate/site/seafood/css/style.css?v=" + timestamp)
    script(src="https://change.greenpeace.org.tw/migrate/site/seafood/js/jquery-3.5.1.min.js")
    script(src="https://change.greenpeace.org.tw/migrate/site/seafood/js/swiper-bundle.min.js")
    script(src="https://change.greenpeace.org.tw/migrate/site/seafood/js/perfect-scrollbar.min.js")
    script(src="https://change.greenpeace.org.tw/migrate/site/seafood/js/aos.js")
    script(src="https://change.greenpeace.org.tw/migrate/site/seafood/js/mailcheck.min.js")
    script.
      console.log('this page was loaded at ' + '#{compileTime}');
      !(function (e, t, a, n, g) {
      (e[n] = e[n] || []), e[n].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
      var m = t.getElementsByTagName(a)[0],
      r = t.createElement(a);
      (r.async = !0), (r.src = "https://www.googletagmanager.com/gtm.js?id=GTM-WRM6WK6"), m.parentNode.insertBefore(r, m);
      })(window, document, "script", "dataLayer");
  body
    div(class="wrap")
      section#kv(class="kv section")
        div(class="kv__hook")
        div(class="kv__inner")
          img(class="kv__logo kv__logo--pc" src="https://change.greenpeace.org.tw/migrate/site/seafood/images/logo.png" alt="GreenPeace Logo")
          div(class="kv__content")
            h1(class="kv__title" data-aos="fade-up" data-aos-anchor="#kv") 守護海洋
              br
              | 從臺灣海洋文化開始
            img(class="kv__logo kv__logo--mobile" src="https://change.greenpeace.org.tw/migrate/site/seafood/images/logo.png" alt="GreenPeace Logo" data-aos="fade-up" data-aos-anchor="#kv")
            div(class="kv__content--preview")
              div#kvSlider(class="slider slider--mobile swiper-container" data-aos="fade-down" data-aos-anchor="#kv" data-aos-delay="500")
                div(class="swiper-wrapper")
                  div(class="swiper-slide" data-preview="1")
                    a(class="slider__block slider__block--1" href="#" title="永續海鮮選購手冊 冬季版")
                      div(class="slider__pic slider__pic--1")
                  div(class="swiper-slide" data-preview="2")
                    a(class="slider__block slider__block--2" href="#" title="永續海鮮選購手冊 夏季版")
                      div(class="slider__pic slider__pic--2")
                div(class="swiper-pagination")
            p(class="kv__desc" data-aos="fade-up" data-aos-anchor="#kv" data-aos-delay="1000") 臺灣四面環海，但我們的海洋生態卻面臨過度捕撈、漁獲枯竭的困境。綠色和平自 2021 年起陸續推出《
              strong 永續海鮮選購手冊
              | 》夏季版、冬季版，期盼借助消費者的力量，擇魚而食，建立一個能使臺灣海洋生生不息的食魚文化。
            a(class="btn" href="#" data-box="formBox" data-aos="fade-up" data-aos-anchor="#kv" data-aos-delay="1000")
              span(class="text") 立即索取 夏、冬季版手冊 
          div(class="kv__content--preview")
            div#kvSlider(class="slider slider--pc swiper-container" data-aos="fade-down" data-aos-anchor="#kv" data-aos-delay="500")
              div(class="swiper-wrapper")
                div(class="swiper-slide" data-preview="1")
                  a(class="slider__block slider__block--1" href="#" title="永續海鮮選購手冊 冬季版")
                    div(class="slider__pic slider__pic--1")
                div(class="swiper-slide" data-preview="2")
                  a(class="slider__block slider__block--2" href="#" title="永續海鮮選購手冊 夏季版")
                    div(class="slider__pic slider__pic--2")
              div(class="swiper-pagination")
      section#proj(class="proj section")
        div(class="proj__inner")
          div(class="proj__main")
            h2(class="section__title" data-aos="fade-up" data-aos-anchor="#proj") 綠色和平海洋專案
              span(class="sub") 持續推動海洋保育議題
            div(class="proj__pic proj__pic--mobile" data-aos="fade-down" data-aos-anchor="#proj" data-aos-delay="500")
            div(class="proj__content" data-aos="fade-up" data-aos-anchor="#proj" data-aos-delay="1000")
              p(class="proj__desc desc-text") 綠色和平全球倡議成立
                strong 全球海洋保護區
                | 已經十多年，在臺灣為了改善臺灣漁業困境與恢復海洋生物多樣性，持續與政府、企業溝通
                strong 海洋保育議題
                | 。
          div(class="proj__pic proj__pic--pc" data-aos="fade-down" data-aos-anchor="#proj" data-aos-delay="500")
      section#right(class="right section")
        div(class="right__inner")
          div(class="right__content")
            h2(class="right__title section__title section__title--theme" data-aos="fade-up" data-aos-anchor="#right" data-aos-delay="0") 在 
              strong(class="highlight") 對的
              | 時間，選
              strong(class="highlight-2nd") 對的
              | 海鮮
            p(class="right__desc right__desc--main desc-text" data-aos="fade-up" data-aos-anchor="#right" data-aos-delay="1000") 全球海洋資源因過度捕撈、棲地破壞或環境污染等逐年匱乏。
            div(class="right__fishes")
              div(class="right__wrap" data-aos="zoom-out" data-aos-anchor="#right" data-aos-delay="500")
                div(class="right__fish right__fish--1")
                div(class="right__fish right__fish--2")
                div(class="right__fish right__fish--3")
                div(class="right__fish right__fish--4")
            p(class="right__desc right__desc--sub desc-text" data-aos="fade-up" data-aos-anchor="#right" data-aos-delay="1000") 消費者該怎麼做，才能讓環境維持永續？我們先從臺灣民眾熱愛的海鮮說起。
      section#danger(class="danger section")
        div(class="danger__inner")
          h2(class="danger__title section__title" data-aos="fade-up" data-aos-anchor="#danger" data-aos-delay="0") 哪些魚種 
            strong(class="danger") 陷入危機
            | ？
          p(class="danger__desc danger__desc--main desc-text" data-aos="fade-up" data-aos-anchor="#danger" data-aos-delay="1000") 有些在臺灣仍可購買的魚種，其實在國際上已被列入瀕危物種，
            br(class="br--pc")
            | 或是面臨過度捕撈與棲地破壞等各種海洋危機。
          div(class="danger__pic" data-aos="zoom-out" data-aos-anchor="#danger" data-aos-delay="500")
          p(class="danger__desc danger__desc--sub desc-text" data-aos="fade-up" data-aos-anchor="#danger" data-aos-delay="1000") 綠色和平將陸續推出不同季節的永續海鮮選購手冊，
            br(class="br--pc")
            | 為您介紹臺灣常見的漁獲與漁撈方式，
            br(class="br--pc")
            | 讓您更了解臺灣的海洋文化。
      section#manual(class="manual section")
        div(class="preload")
          img(src="https://change.greenpeace.org.tw/migrate/site/seafood/images/frame-1-1.png")
          img(src="https://change.greenpeace.org.tw/migrate/site/seafood/images/frame-2-1.png")
          img(src="https://change.greenpeace.org.tw/migrate/site/seafood/images/frame-3-1.png")
        div(class="manual__inner")
          div(class="manual__content manual__content--main")
            h2(class="manual__title section__title" data-aos="fade-up" data-aos-anchor="#manual" data-aos-delay="0") 選對魚，吃對魚
              br
              | 就是珍惜海洋
            div(class="todo")
              ul(class="todo__list")
                li(class="todo__item" data-aos="fade-up" data-aos-anchor="#manual" data-aos-delay="1000")
                  div(class="todo__icon todo__icon--reduce")
                  div(class="todo__content")
                    p(class="todo__desc desc-text") 綠色和平鼓勵蔬食生活，減少碳排，同時我們也鼓勵消費者可以透過更永續的飲食選擇，「逐步」實踐滿足口腹與友善環境的平衡。
                li(class="todo__item" data-aos="fade-up" data-aos-anchor="#manual" data-aos-delay="1200")
                  div(class="todo__icon todo__icon--manual")
                  div(class="todo__content")
                    p(class="todo__desc desc-text")
                      strong 永續海鮮選購手冊
                      | ，期待能幫助每個關心環境的您，採購前能更謹慎地思考、選擇適宜的產品。
          div(class="manual__content manual__content--preview")
            h3(class="manual__sub-title" data-aos="fade-up" data-aos-anchor="#manual" data-aos-delay="0")
              strong 手冊內頁搶先看
              span(class="manual__intro") 完整版請點擊下方立即索取
            div#manualSlider(class="slider swiper-container" data-aos="fade-up" data-aos-anchor="#manual" data-aos-delay="500")
              div(class="swiper-wrapper")
                div(class="swiper-slide" data-preview="1")
                  a(class="slider__block slider__block--1" href="#" title="虱目魚")
                    div(class="slider__pic slider__pic--1")
                div(class="swiper-slide" data-preview="2")
                  a(class="slider__block slider__block--2" href="#" title="鎖管、透抽")
                    div(class="slider__pic slider__pic--2")
                div(class="swiper-slide" data-preview="3")
                  a(class="slider__block slider__block--3" href="#" title="煙仔")
                    div(class="slider__pic slider__pic--3")
              div(class="swiper-pagination")
      section(class="start section")
        div(class="start__inner")
          div(class="start__pic" data-aos="fade-up" data-aos-anchor-placement="top-bottom")
          h2(class="section__title start__title" data-aos="fade-up" data-aos-anchor-placement="top-bottom") 好好 
            strong(class="highlight-2nd") 吃魚
            | ，開始
            strong(class="highlight-2nd") 懂魚
            br
            span(class="subtext") 就是珍惜海洋的一種方式
          a(class="btn get-btn" href="#" data-box="formBox" data-aos="fade-up" data-aos-anchor-placement="top-bottom")
            span(class="text") 立即索取 夏、冬季版手冊
    footer(class="footer")
      div(class="footer__inner")
        div(class="footer__block footer__block--upper")
          div(class="footer__cell")
            img(class="footer__logo" src="https://change.greenpeace.org.tw/migrate/site/seafood/images/logo.png" alt="GreenPeace Logo")
            p(class="footer__desc") 綠色和平致力於為地球發生，我們的存在是因為脆弱的地球需要改變、需要行動。
              br
              br(class="br--mobile")
              | 但保護地球的使命不能僅靠綠色和平來完成，「您」就是改變世界的力量！
          div(class="footer__cell footer__cell--right")
            ul(class="footer__list")
              li(class="footer__item")
                a(class="footer__link" href="https://www.greenpeace.org/taiwan/?ref=2021-cwf_handbook-footer" target="_blank") 回到主頁
              li(class="footer__item")
                a(class="footer__link" href="https://www.greenpeace.org/taiwan/policies/privacy-and-cookies/?ref=2021-cwf_handbook-footer" target="_blank") 隱私政策與個人資料收集聲明
        div(class="footer__block footer__block--bottom")
          div(class="footer__cell footer__cell--mb-order2")
            p(class="footer__copy") &copy; 2025 Greenpeace
          div(class="footer__cell footer__cell--right footer__cell--mb-order1")
            a(class="footer__btn" href="https://cloud.greentw.greenpeace.org/donation-cwf-seafood-handbook" target="_blank") 捐款支持
    div#formBox(class="box box--frame" style="display: none")
      div(class="box__cover box__cover--full")
      div(class="box__body formbox")
        a(class="box__close formbox__close" href="#" title="close")
        div(class="formbox__inner")
          div(class="formbox__content")
            h2(class="formbox__title hide-text")
              span(class="text") 免費索取永續海鮮選購手冊
            div(class="formbox__block formbox__block--mobile")
              div(class="formbox__content--preview")
                div#formboxSlider2(class="slider slider--mobile swiper-container")
                  div(class="swiper-wrapper")
                    div(class="swiper-slide" data-preview="1")
                      a(class="slider__block slider__block--1" href="#" title="永續海鮮選購手冊 冬季版")
                        div(class="slider__pic slider__pic--1")
                    div(class="swiper-slide" data-preview="2")
                      a(class="slider__block slider__block--2" href="#" title="永續海鮮選購手冊 夏季版")
                        div(class="slider__pic slider__pic--2")
                  div(class="swiper-pagination")
            div(class="formbox__block formbox__block--main")
              form#sign-form(class="form" action="https://web-api.gpeastasia.org/api/tw/petition/websign-proxy")
                ul(class="form__list")
                  li(class="form__item")
                    label(class="form__label") 電子信箱
                    input#Email(class="form__input" type="email" name="Email")
                  li(class="form__item")
                    div(class="form__group")
                      div(class="form__block form__block--s")
                        label(class="form__label") 姓氏
                        input#LastName(class="form__input" type="text" name="LastName")
                      div(class="form__block")
                        label(class="form__label") 名字
                        input#FirstName(class="form__input" type="text" name="FirstName")
                  li(class="form__item")
                    label(class="form__label") 出生年份
                    div(class="form__select-wrap")
                      div(class="form__select-val")
                      select#Birthdate(class="form__select" name="Birthdate")
                        option(value="") 請選擇
                  li(class="form__item")
                    label(class="form__label") 電話
                    input#MobilePhone(class="form__input" type="phone" placeholder="0912345678 或 886912345678" name="MobilePhone")
                  li(class="form__item form__item--nopd")
                    input#privacy(class="form__check" type="checkbox" name="OptIn" checked)
                    label(class="form__check-label" for="privacy") 我已詳細閱讀並同意
                      a(href="https://www.greenpeace.org/taiwan/policies/privacy-and-cookies/" target="_blank")
                        u 隱私保護政策
                      | 。
                  li(class="form__item")
                    p(class="form__hint desc-text marked") 永續海鮮選購手冊PDF將寄發至您的電子郵件，如
                      strong 需索取手冊，請務必勾選此選項
                      | 。
                input(placeholder="MobileCountryCode" name="MobileCountryCode" type="hidden" value="886")
                input(type="hidden" name="req" value="post_data")
                input(type="hidden" name="LeadSource" value="Petition - Oceans")
                input(type="hidden" name="Petition_Interested_In_Arctic__c" value="false")
                input(type="hidden" name="Petition_Interested_In_Climate__c" value="false")
                input(type="hidden" name="Petition_Interested_In_Forest__c" value="false")
                input(type="hidden" name="Petition_Interested_In_Health__c" value="false")
                input(type="hidden" name="Petition_Interested_In_Oceans__c" value="true")
                input(type="hidden" name="Petition_Interested_In_Plastics__c" value="false")
                input(type="hidden" name="CampaignId" value="7012u000000P7uKAAS")
                input#UtmMedium(type="hidden" name="UtmMedium" value="")
                input#UtmSource(type="hidden" name="UtmSource" value="")
                input#UtmCampaign(type="hidden" name="UtmCampaign" value="")
                input#UtmContent(type="hidden" name="UtmContent" value="")
                input#UtmTerm(type="hidden" name="UtmTerm" value="")
            div(class="formbox__block")
              div(class="formbox__content--preview formbox__content--preview--pc")
                div#formboxSlider1(class="slider swiper-container")
                  div(class="swiper-wrapper")
                    div(class="swiper-slide" data-preview="1")
                      a(class="slider__block slider__block--1" href="#" title="永續海鮮選購手冊 冬季版")
                        div(class="slider__pic slider__pic--1")
                    div(class="swiper-slide" data-preview="2")
                      a(class="slider__block slider__block--2" href="#" title="永續海鮮選購手冊 夏季版")
                        div(class="slider__pic slider__pic--2")
                  div(class="swiper-pagination")
              p(class="form__hint desc-text")
                // ※註：現已推出夏季、冬季版手冊，未來其他季節版出版後，您將可於第一時間藉由Email收到最新消息。
              a(class="btn btn--multiline submit-btn submit-btn--pc" value="")
                span(class="text") 立即索取
                  br
                  | 永續海鮮選購手冊電子版
        a(class="btn submit-btn submit-btn--mobile" value="")
          span(class="text") 立即索取 永續海鮮選購手冊電子版
    div#thanksBox(class="box box--frame" style="display: none")
      div(class="box__cover box__cover--full")
      div(class="box__body formbox formbox--nopd")
        a(class="box__close formbox__close" href="#" title="close")
        div(class="formbox__inner formbox__inner--nopd")
          div(class="form__content thanks")
            div(class="thanks__content thanks__content--main")
              h2(class="thanks__title") 永續海鮮選購手冊
              p(class="thanks__intro")
                span(class="icon icon--mail")
                | 索取成功
              p(class="thanks__desc thanks__desc--main desc-text")
                | 感謝您索取永續海鮮選購手冊電子版，讓臺灣朝著海洋永續的目標更進一步！
                strong 請至您填寫的電子郵件查閱
                | 。
                br
                strong ※注意事項：
                | 如兩天內未收到手冊email，請檢查垃圾郵件及促銷內容分類。如確認未收到，歡迎來信告知，由專人為您協助處理：
                a(class="thanks__desc thanks__desc--link" href="mailto:inquiry.tw@greenpeace.org") inquiry.tw@greenpeace.org
              p(class="thanks__desc desc-text")
                strong 懇請您將本手冊資訊，轉分享給親朋好友，
                | 邀請更多人一同為臺灣海洋生態復育努力。 海洋生態永續，需要您的支持，一起為守護海洋拿下更多里程碑！
              a#shareFB(class="thanks__share" href="" target="_blank")
                span(class="icon icon--fb")
                | 分享永續海鮮選購手冊
            div#donate(class="donate")
              p(class="donate__title")
                span(class="text") 守護海洋，不分四季
              div(class="donate__content desc-text")
                p(class="donate__desc") 每月捐款 $800 元以上或單次捐款 $3000 元以上，支持綠色和平的「
                  a(class="thanks__desc thanks__desc--link" href="https://cloud.greentw.greenpeace.org/donation-cwf-seafood-handbook" target="_blank") 30x30 海洋保護區專案
                  | 」，即可額外獲得永續海鮮選購手冊春季版、秋季版電子書
                div(class="donate__content--preview")
                  div#donateSlider(class="slider swiper-container")
                    div(class="swiper-wrapper")
                      div(class="swiper-slide" data-preview="1")
                        a(class="slider__block slider__block--1" href="#" title="永續海鮮選購手冊")
                          div(class="slider__pic slider__pic--1")
                      div(class="swiper-slide" data-preview="2")
                        a(class="slider__block slider__block--2" href="#" title="硬尾仔、空仔")
                          div(class="slider__pic slider__pic--2")
                      div(class="swiper-slide" data-preview="3")
                        a(class="slider__block slider__block--3" href="#" title="蚵仔")
                          div(class="slider__pic slider__pic--3")
                      div(class="swiper-slide" data-preview="4")
                        a(class="slider__block slider__block--4" href="#" title="蚵仔")
                          div(class="slider__pic slider__pic--4")
                      div(class="swiper-slide" data-preview="5")
                        a(class="slider__block slider__block--5" href="#" title="蚵仔")
                          div(class="slider__pic slider__pic--5")
                    div(class="swiper-pagination")
                // <p class="donate__desc">每月捐款 新台幣:</p>
                p(class="donate__btns")
                  a(class="btn btn--small donate__btn" href="https://cloud.greentw.greenpeace.org/donation-cwf-seafood-handbook" target="_blank")
                    span(class="text") 800
                  a(class="btn btn--small donate__btn donate__btn--main" href="https://cloud.greentw.greenpeace.org/donation-cwf-seafood-handbook" target="_blank")
                    span(class="text") 1000
                  a(class="btn btn--small donate__btn" href="https://cloud.greentw.greenpeace.org/donation-cwf-seafood-handbook" target="_blank")
                    span(class="text") 1200
                  a(class="donate__other desc-text" href="https://cloud.greentw.greenpeace.org/donation-cwf-seafood-handbook/" target="_blank") 其它金額
            div(class="thanks__content")
              p(class="thanks__desc desc-text")
                strong 綠色和平致力推動臺灣設立30%海洋保護區，並持續進行以下工作：
              ol(class="thanks__list")
                li(class="thanks__item")
                  p(class="thanks__desc desc-text") 串聯支持海保區的海洋工作者、學者，共同提出守護海洋計畫。
                li(class="thanks__item")
                  p(class="thanks__desc desc-text") 積極向政府/產業界溝通，要求落實海洋保育與立法。
                li(class="thanks__item")
                  p(class="thanks__desc desc-text") 推廣海洋環境教育，以實際行動、媒體傳播，將海保觀念融入到公民生活。
    div#previewBox(class="box box--preview" style="display: none")
      div(class="overlay box__cover")
      a(class="box__close box__close--out" href="#" title="close")
      div(class="box__body previewbox")
        div(class="previewbox__frame previewbox__frame--1")
          div(class="previewbox__container")
            img(class="previewbox__pic" src="https://change.greenpeace.org.tw/migrate/site/seafood/images/slider-1.jpg")
    script.
      (function () {
      var _overlay = document.querySelector(".overlay");
      var _clientY = null; // remember Y position on touch start
      
      _overlay.addEventListener(
      "touchstart",
      function (event) {
      if (event.targetTouches.length === 1) {
      // detect single touch
      _clientY = event.targetTouches[0].clientY;
      }
      },
      false
      );
      
      _overlay.addEventListener(
      "touchmove",
      function (event) {
      if (event.targetTouches.length === 1) {
      // detect single touch
      disableRubberBand(event);
      }
      },
      false
      );
      
      function disableRubberBand(event) {
      var clientY = event.targetTouches[0].clientY - _clientY;
      
      if (_overlay.scrollTop === 0 && clientY > 0) {
      // element is at the top of its scroll
      event.preventDefault();
      }
      
      if (isOverlayTotallyScrolled() && clientY < 0) {
      //element is at the top of its scroll
      event.preventDefault();
      }
      }
      
      function isOverlayTotallyScrolled() {
      // https://developer.mozilla.org/en-US/docs/Web/API/Element/scrollHeight#Problems_and_solutions
      return _overlay.scrollHeight - _overlay.scrollTop <= _overlay.clientHeight;
      }
      })();
    // <script src="./js/main.js"></script>
    script(src="https://change.greenpeace.org.tw/migrate/site/seafood/js/main.js?v=" + timestamp)
